.news-wrapper
	padding-top: 30px
	display: grid
	grid-template-columns: repeat(12, 1fr)
	column-gap: 15px
	@include media-breakpoint-down(md)
		gap: 15px
.news
	grid-column: 8 span
	@include media-breakpoint-down(md)
		grid-column: 12 span
.anons
	grid-column: 4 span
	@include media-breakpoint-down(md)
		grid-column: 12 span

.swiper-news
	height: 400px
	overflow: hidden
	+radius
	&__slide
		position: relative
		&::before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			+rad
	&__image
		object-fit: cover
		width: 100%
		height: 100%
	&__title
		position: absolute
		font-size: 18px
		font-weight: 700
		bottom: 75px
		left: 30px
		right: 30px
		color: #fff
	&__date
		position: absolute
		right: 30px
		top: 25px
		color: #fff
	&__tag
		position: absolute
		top: 25px
		left: 30px
		color: #fff

.swiper-button-next, .swiper-button-prev
	top: auto
	bottom: 0
.swiper-button-prev
	left: 300px
	@include media-breakpoint-down(xl)
		left: 200px
	@include media-breakpoint-down(lg)
		left: 100px
.swiper-button-next
	right: 300px
	@include media-breakpoint-down(xl)
		right: 200px
	@include media-breakpoint-down(lg)
		right: 100px

.swiper-button-next:after, .swiper-button-prev:after
	font-size: 15px
	color: #fff
.swiper-pagination-bullet
	background-color: #8D9EA4
	width: 9px
	height: 9px
.swiper-pagination-bullet-active
	background-color: #fff

.anons

.swiper-anons
	+radius
	height: 400px
	overflow: hidden
	&__slide
		position: relative
		display: flex
		justify-content: center
		&::before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			+rad
	&__image
		object-fit: cover
		width: 100%
		height: 100%
	&__title
		position: absolute
		bottom: 70px
		color: #fff
		left: 20px
		right: 20px
		font-weight: 700
	&__date
		position: absolute
		bottom: 20px
		color: #fff
	&__tag
		position: absolute
		top: 25px
		left: 20px
		color: #fff

.swiper-anons-button-next
	right: 120px
	bottom: 10px
	@include media-breakpoint-down(xl)
		right: 50px
.swiper-anons-button-prev
	left: 120px
	bottom: 10px
	@include media-breakpoint-down(xl)
		left: 50px

.all-news
	display: grid
	grid-template-columns: repeat(3, 1fr)
	gap: 15px
	@include media-breakpoint-down(lg)
		grid-template-columns: repeat(2, 1fr)
	@include media-breakpoint-down(sm)
		grid-template-columns: repeat(1, 1fr)
	&__item
		position: relative
		overflow: hidden
		+radius
		height: 270px
		&:hover
			.all-news__item-image
				transform: scale(1.1)
		@include media-breakpoint-down(xl)
			height: 220px
		@include media-breakpoint-down(sm)
			height: 270px
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			+rad
	&__item-image
		transition: all .2s ease
		object-fit: cover
		width: 100%
		height: 100%
	&__item-published
		position: absolute
		left: 25px
		top: 25px
		color: #fff
		font-size: 12px
	&__item-title
		position: absolute
		bottom: 25px
		left: 25px
		right: 25px
		color: #fff
		font-weight: 700
	&__item-link
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.news-preview
	object-fit: cover
	width: 100%
	height: 340px
	+radius
	margin-bottom: 30px
	@include media-breakpoint-down(md)
		height: 280px

.news__published
	font-size: 12px
	color: $gray
	margin-bottom: 15px